.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header__nav {
  height: var(--header__nav-height);
  display: flex;
  justify-content: space-between;
}
.nav__list {
  list-style: none;
  padding: 0;
  align-items: center;
}
.nav__item {
  display: inline-block;
  margin: 0 0.8rem;
  position: relative;
}
.nav__item--hover:hover .header__qr {
  display: inline-block;
}
.nav__link,
.nav__item {
  display: inline-block;
  font-size: 1.5rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}
.nav__link--strong {
  font-weight: 500;
}
.nav__item--senparate::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #fb9086;
  height: 100%;
  right: -8px;
  top: -0.2rem;
}
.nav__link:hover,
.nav__item:hover,
.nav__item--icon:hover {
  color: rgba(255, 255, 255, 0.7);
}
.nav__item--icon > img {
  display: inline-block;
  height: 1.4rem;
  margin: 0 0.5rem;
  color: var(--white-color);
  text-decoration: none;
}
/* QR CODE */
.header__qr {
  background-color: var(--white-color);
  width: 18.6rem;
  position: absolute;
  left: 0;
  top: 180%;
  padding: 0.8rem;
  border-radius: 5px;
  margin-top: 1rem;
  display: none;
  animation: fadeIn ease 0.5s;
  will-change: opacity;
}
.header__qr::before {
  position: absolute;
  left: 0;
  top: -2.8rem;
  width: 100%;
  height: 20%;
  content: "";
  display: block;
}
.header__qr-img {
  width: 100%;
}
.header__qr-app {
  display: flex;
  justify-content: space-between;
}
.qr__item {
  height: 1.8rem;
}
/* END QR CODE  */
.header__noti {
  position: absolute;
  top: 180%;
  right: 0;
  width: 44rem;
  background: var(--white-color);
  border-radius: 0.5rem;
  border: 1px solid #d3d3d3;
  display: none;
  transform-origin: calc(100% - 2rem) top;
  animation: header__noti--sc ease 0.2s;
  cursor: default;
  will-change: opacity, transform;
}

@keyframes header__noti--sc {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.header__noti--header {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  height: 4rem;
  background-color: var(--white-color);
}
.header__noti--header h3 {
  color: #929090;
  margin: 0 0 0 1.2rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 4rem;
}
.header__noti--list {
  padding: 0;
}
.header__noti--item {
  display: flex;
}
.header__noti--item:hover {
  background-color: #b9b9b9;
}
.header__noti--item--readed {
  background-color: rgba(238, 77, 45, 0.08);
}

.header__noti--link {
  text-decoration: none;
  display: flex;
  width: 100%;
}
.header__noti--img {
  width: 4.8rem;
  object-fit: contain;
}
.header__noti--body {
  display: inline-block;
  align-items: center;
}
.header__noti--name {
  font-size: 1.4rem;
  display: block;
  color: var(--black-color);
  font-weight: 400;
  line-height: 1.8rem;
}
.header__noti--descriotion {
  display: block;
  font-size: 1.2rem;
  color: #756f6e;
  line-height: 1.8rem;
}
.nav__item--hover:hover .header__noti {
  display: inline-block;
}
.header__noti::before {
  content: "";
  border: 1.5rem solid;
  border-color: transparent transparent var(--white-color) transparent;
  position: absolute;
  right: 1.2rem;
  top: -2.5rem;
}
.header__noti::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: -2.5rem;
  width: 9rem;
  height: 5rem;
}
.header__noti--footer {
  text-align: center;
}
.header__noti--footer-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
  padding: 1rem;
  font-size: 1.4rem;
  font-weight: 400;
}
/* auth-modal */
.auth-font {
  border-radius: 0.5rem;
  width: 50rem;
}
.auth-font_container {
  padding: 0 3.2rem;
}
.auth-font_header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.auth-font_heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}
.auth-font__switch-btn {
  font-size: 1.6rem;
  color: var(--primery-color);
  font-weight: 500;
  cursor: pointer;
}
.auth-font_font {
  margin-top: 0.8rem;
}
.auth-font_group {
}
.auth-font_input {
  width: 100%;
  height: 4rem;
  margin-bottom: 1rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  border: 1px solid var(--boder-color);
  border-radius: 0.4rem;
  outline: none;
}
.auth-font_input:focus {
  border: 0.2rem solid #4d4d4d;
}
.auth-font_aside {
  margin-top: 2rem;
  padding: 0 1.2rem;
}
.auth-font_policy-text {
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
}
/* text link */
.auth-font_text-link {
  color: var(--primery-color);
  text-decoration: none;
}
/* button */
.auth-font_controls {
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
}
.auth-font_soccia {
  display: flex;
  justify-content: space-evenly;
  background-color: #d6d2d2;
  padding: 0.8rem;
  align-items: center;
  border-radius: 0 0 0.5rem 0.5rem;
}
.btn--with-icon {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-evenly;
}
.btn--with-icon-fb {
  background-color: #3f47b1;
  color: var(--white-color);
}
.btn--with-icon-gg {
  background-color: var(--white-color);
  color: var(--text-color);
}
.auth-font_policy-hepl {
  display: flex;
  font-size: 1.6rem;
  line-height: 2.3rem;
  text-align: center;
  justify-content: space-evenly;
}
.auth-font_text-link-hepl {
  display: flex;
  text-decoration: none;
}
.auth-font_text-link-color {
  color: var(--primery-color);
}
.auth-font-senparete {
  display: block;
  border-left: 0.1rem solid var(--boder-color);
  height: 2.2rem;
}
/* header with search */
.header-with-search {
  height: var(--header-with-search-height);
}
.header__logo {
  display: flex;
  align-items: center;
  height: inherit;
}
.header__logo-item {
  display: flex;
  align-items: center;
  height: inherit;
  width: 16rem;
  text-decoration: none;
}
.text-logo {
  font-size: 4.8rem;
  color: var(--text-color);
  font-family: "Dancing Script", cursive;
}
.header__logo-item > img {
  height: inherit;
}
.header__search {
  background-color: var(--white-color);
  height: 4rem;
  flex: 1;
  border-radius: 0.5rem;
}
.header__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}
.icon {
  width: 5rem;
  cursor: pointer;
}
